.material-icons {
    cursor: pointer;
    color: #b8bab6;
}

.check-icon {
    color: green;
}

.delete-icon {
    color: #bf0410
}

.App {
    display: flex;
    justify-content: center;
}

.w3-container {
    width: 50%;
    margin-top: 50px;
}

.text-input {
    display: inline-block;
    width: calc(100% - 80px);
    margin-right: 20px;
    cursor: pointer;
}

.text-input:focus {
    outline: none;
    cursor: text;
}

.w3-bar .w3-bar-item {
    min-width: 33%;
}

.send-icon {
    margin-right: 10px;
}

ul {
    margin: 20px 0;
    padding: 0;
}

.edit-todo {
    text-align: center;
    padding: 10px 0px;
    height: 46px;
    word-break: break-all;
    word-wrap: break-word;
}

.edit-todo:focus {
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: none;
}

.w3-table td {
    padding: 0;
}

.table-td-check {
    padding: 8px 8px 8px 16px !important;
    width: 50px;
}

.table-td-delete {
    padding: 8px !important;
    width: 50px;
}

.todo-text {
    overflow: auto;

}

.w3-allerta {
    font-family: "Allerta Stencil", Sans-serif;
}

.clear-completed {
    text-decoration: underline;
    padding: 0;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e6e1e1;
    padding: 5px 50px;
}
@media screen and (max-width: 454px) {
    .w3-container {
        width: 100%;
    }

    .text-input {
        width: 100%;
    }

    .send-icon,
    .cancel-icon {
        display: none;
    }

    .w3-bar .w3-bar-item {
        width: 33%;
    }

    .text-input {
        margin: 0;
        width: 100%;
    }

}

@media screen and (max-width: 768px) and (min-width: 455px) {
    .w3-container {
        width: 80%;
    }
}